@font-face {
    font-family: 'Neris';
    src: url('Neris-Black_gdi.eot');
    src: url('Neris-Black_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Black_gdi.woff') format('woff'), url('Neris-Black_gdi.ttf') format('truetype'), url('Neris-Black_gdi.otf') format('opentype'), url('Neris-Black_gdi.svg#Neris') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-Light_gdi.eot');
    src: url('Neris-Light_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-Light_gdi.woff') format('woff'), url('Neris-Light_gdi.ttf') format('truetype'), url('Neris-Light_gdi.otf') format('opentype'), url('Neris-Light_gdi.svg#Neris') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}

@font-face {
    font-family: 'Neris';
    src: url('Neris-SemiBold_gdi.eot');
    src: url('Neris-SemiBold_gdi.eot?#iefix') format('embedded-opentype'), url('Neris-SemiBold_gdi.woff') format('woff'), url('Neris-SemiBold_gdi.ttf') format('truetype'), url('Neris-SemiBold_gdi.otf') format('opentype'), url('Neris-SemiBold_gdi.svg#Neris') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-F6D0;
}
#all.all--update {
    overflow: initial;
}

.all--update * {
    font-family: 'Neris', sans-serif;
}

.all--update a {
    transition: all 0.2s;
    cursor: pointer;
}

#wrap {
    max-width: 1600px;
}

.footer-wrap {
    max-width: 1600px;
}

.update_first {
    background-image: url(bk1.png);
    padding: 97px 9% 54px 9%;
    position: relative;
    display: block;
    text-align: center;
    z-index: 10;
    overflow: visible;
    background-size: cover;
}

.update_first-title {
    text-align: center;
    font-weight: 300;
    color: #fde4d4;
    font-size: 84px;
    padding-top: 130px;
    line-height: 70px;
    width: 100%;
    position: relative;
}

.update_first-date {
    font-size: 16px;
    line-height: 70px;
    color: #fde4d4;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 4px;
    letter-spacing: 1px;
}

.update_first-cols {
    margin: 94px auto 0;
}

.update_first-col {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    font-size: 26px;
    line-height: 36px;
    position: relative;
    text-align: center;
    font-weight: 300;
    padding-bottom: 75px;
    color: white;
    margin-right: 4%;
}

.update_first-col:last-child {
    margin-right: 0;
}

.update_first-inner {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;
}

.update_first-image {
    height: 90px;
    line-height: 190px;
    position: relative;
    text-align: center;
}

.update_first-image svg {
    vertical-align: middle;
    width: 100%;
    height: 100%;
}

.update_first-text {
    padding-top: 75px;
}

.update_first-go {
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FD9451;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: -50px;
}

.update_first-arrow {
    width: 30px;
    margin: 35px auto 0;
    display: block;
    position: relative;
}

.update_safety {
    padding: 177px 9% 54px 9%;
    background-color: white;
    overflow: visible;
}

.update_safety-prefix {
    width: 120px;
    margin: 0 auto;
}

.update_safety-prefix svg {
    width: 100%;
    height: 100%;;
}

.update_safety-title {
    font-size: 70px;
    line-height: 48px;
    font-weight: 300;
    padding-top: 28px;
    letter-spacing: 0.2px;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    height: 48px;
    top: 0;
    padding-bottom: 28px;
    background-color: white;
    z-index: 20;
}

.update_safety-item {
    position: relative;
    padding-top: 175px;
    padding-bottom: 57px;
}

.update_safety-items {
    padding-bottom: 142px;
}

.update_safety-image {
    position: absolute;
}
.update_safety-image svg {
    width: 23vw
}

.safety_item--left .update_safety-image {
    left: 9%;
    top: 190px;
}

.safety_item--right .update_safety-image {
    right: 10.5%;
    top: 180px;
}

.update_safety-content {
    padding-top: 40px;
    max-width: 540px;
}

.safety_item--left .update_safety-content {
    margin-left: 50%;
}

.safety_item--right .update_safety-content {
    margin-left: 8.7%;
}

.safety_item-prefix {
    font-size: 16px;
    line-height: 46px;
    color: #2c75ff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

.safety_item-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 32px;
    color: #14293e;
}

.safety_item-text {
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
    color: #727272;
    padding-top: 32px;
}

.update_able {
    padding: 165px 10.5% 85px 10.5%;
    background-image: url(bk2.png);
    position: relative;
    background-size: cover;
}

.update_able-logo {
    margin-right: 55px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 7px
}

.update_able-logo:first-child {
    margin-right: 90px;
}

.update_able-title {
    font-size: 70px;
    line-height: 74px;
    font-weight: 300;
    color: white;
    max-width: 70%;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
}

.update_able-icon {
    width: 130px;
    display: inline-block; 
    vertical-align: top;
    margin-top: 45px;
    position: absolute;
    top: 205px;
    right: 24.3%;
}

.update_able-icon svg {
    width: 100%;
    height: 100%;
}

.update_able-items {
    padding-top: 180px;
}

.update_able-item {
    display: inline-block;
    vertical-align: top;
    max-width: 25%;
    padding-right: 10.5%;
    padding-bottom: 116px
}

.update_able-item:last-child {
    padding-right: 0;
}

.update_able-content {
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: white;
    padding-top: 28px;
}

.update_able-text {
    font-size: 16px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    margin-top: 23px;
    letter-spacing: 2px;
    text-decoration: none;
    border-bottom: none;
    display: block;
}

.update_able-text img {
    width: 17px;
    vertical-align: middle;
}

.update_able-text:hover {
    color: #fb782a;
}

.update_able-text:hover img svg {
    fill: #fb782a;
}

.update_able-image {
    width: 60px;
    height: 45px;
}

.update_able-image img {
    width: 100%;
}

.update_async {
    padding: 150px 10.5% 188px 10.5%;
    background-color: white;
    position: relative;
}

.update_async-title {
    font-size: 70px;
    line-height: 74px;
    font-weight: 300;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    max-width: 88%;
}

.update_async-icon {
    width: 130px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 155px;
    right: 12.6%;
}

.update_async-icon svg {
    width: 100%;
    height: 100%;
}

.update_async-items {
    padding-top: 136px;
}

.update_async-item {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-right: 16.5%;
}

.update_async-item:last-child {
    padding-right: 0;
}

.update_async-header {
    font-size: 32px;
    line-height: 42px;
    font-weight: 300;
}

.update_async-text {
    font-size: 22px;
    line-height: 36px;
}

.update_async-text p {
    padding-top: 22px;
}

.update-link {
    text-decoration: none;
    color: #3c6cd4;
    cursor: pointer;
    border-bottom: 1px solid #c1d8f8;
}

.update-link:hover {
    color: #fb782a;
    border-color: #fcbb8e;
}

.update_add {
    padding: 124px 0 218px 10.5%;
    background-image: url(bk3.png);
    position: relative;
    background-size: cover;
}

.update_add-title {
    font-size: 70px;
    line-height: 74px;
    font-weight: 300;
    padding-top: 30px;
    display: inline-block;
    vertical-align: top;
    color: white;
    max-width: 70%;
}

.update_add-icon {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    margin-left: 80px;
    margin-top: 15px;
    position: absolute;
    top: 125px;
    right: 20%;
}

.update_add-icon svg {
    width: 100%;
    height: 100%;
}
.update_add-content {
    position: relative;
    padding-left: 25.9%;
    margin-top: 42px;
}
.update_add-wrapper {
    position: absolute;
    left: 0;
    top: 0;
}

.update_add-number {
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border-radius: 20vw;
    background-color: #FF8624;
    vertical-align: top;
    box-sizing: border-box;
    margin-top: 120px;
    position: relative;  
}

.update_add-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.update_add-plus {
    font-size: 100px;
    line-height: 86px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
}

.update_add-plus span {
    display: inline-block;
    font-size: 70px;
    vertical-align: top;
}

.update_add-prefix {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    text-align: center;
}

.update_add-items {
    display: inline-block;
    margin-left: 7.8%;
    vertical-align: top;
    margin-top: 124px;
    max-width: 900px;
}

.update_add-item {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    padding-right: 15px;
    padding-bottom: 21px;
}

.update_add-item:nth-child(even) {
    padding-right: 0;
}

.update_add-image {
    width: 22px;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.update_add-image img {
    width: 100%;
}

.update_add-text {
    font-size: 26px;
    line-height: 36px;
    font-weight: 300;
    color: white;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    padding-left: 15px;
}

.update_reviews {
    padding: 113px 9% 168px 9%;
    background-color: white;
}

.update_reviews-prefix {
    width: 120px;
    margin: 0 auto;
}

.update_reviews-prefix svg {
    height: 100%;
    width: 100%;
}

.update_reviews-title {
    font-size: 70px;
    line-height: 48px;
    font-weight: 300;
    padding-top: 42px;
    letter-spacing: 2.2px;
    text-align: center;
}

.update_reviews-item {
    padding-top: 102px;
    padding-left: 25px;
    position: relative;
}

.update_reviews-content {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    font-size: 22px;
    line-height: 36px;
    font-weight: 300;
}

.update_reviews-content p {
    padding-top: 25px;
}

.update_reviews-author {
    display: inline-block;
    vertical-align: top;
    padding-left: 13.5%;
    text-align: center;
    position: absolute;
    right: 18%;
    top:  138px;
}

.update_reviews-photo {
    width: 157px;
    height: 157px;
    overflow: hidden;
    border-radius: 157px;
    margin-left: 16.3%;
    box-sizing: border-box;
}

.update_reviews-photo img {
   width: 100%;
    height: 100%;
}

.update_reviews-name {
    font-size: 26px;
    line-height: 26px;
    color: #212121;
    font-weight: 300;
    padding-top: 22px;
}

.update_reviews-company {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #2c75ff;
    text-transform: uppercase;
    padding-top: 5px;
    letter-spacing: 2px;
}

.fotorama {
    position: relative;
}

.fotorama__nav-wrap {
    position: absolute;
    right: 46px;
    top: 200px;
    transform: translatey(-45%)
}

.fotorama__nav.fotorama__nav--dots {
    text-align: right;
}

.fotorama__nav--dots .fotorama__nav__frame {
    display: block;
    height: 34px;
    width: 22px;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
    border-width: 7px;
    border-radius: 7px;
    border-color: #007AFF;
}

.fotorama__dot {
    width: 0;
    height: 0;
    border-width: 7px;
    border-radius: 7px;
    border-color: #D1E4FF;
}

.update_choose {
    padding: 90px 9% 156px 9%;
    background-image: url(bk4.png);
    background-size: cover;
}

.update_choose-prefix {
    width: 120px;
    margin: 0 auto;
}

.update_choose-prefix svg {
    width: 100%;
    height: 100%;
}

.update_choose-title {
    font-size: 70px;
    line-height: 75px;
    font-weight: 300;
    padding-top: 25px;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
}

.update_choose-content {
    font-size: 22px;
    line-height: 36px;
    color: #b3ccfc;
    text-align: center;
    padding-top: 13px;
}

.update_choose-buttons {
    text-align: center;
    margin-top: 85px;
}

.update_choose-btn {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    font-weight: 600;
    line-height: 44px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;
    color: #2c75ff;
    text-decoration: none;
    border: 0;
    box-shadow: 0px 20px 35px 0px rgba(37, 57, 130, 0.137);
    padding: 0 30px;
}

.update_choose-btn--outline {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.5);
    border-style: solid;
    color: white;
    background: none;
    line-height: 40px;
    height: 46px;
    box-shadow: none;
}

.update_choose-btn--edition {
    width: 195px;
}

.update_choose-btn--new {
    margin-left: 20px;
    width: 190px;
}

.update_choose-btn--edition:hover {
    background-color: rgb(255, 255, 255);
    color: #2c75ff;
}

.update_choose-btn--new:hover {
    background: #fff;
    color: #3279fb;
    border-color: #fff;
}


/*animations first*/

.update_first-title, .update_first-date, .update_first-col {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_first-prefix {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}
.update_first-image, .update_first-arrow{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.portf_first-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.update_first-date {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.update_first-col .update_first-image g path, .update_first-col .update_first-image path {
    fill: white;
    fill-opacity: 0;

    stroke: white;
    stroke-width:10px;
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: draw 1s ease-in forwards;
}
.update_first-col .update_first-image .stroke {
    fill:none;
    stroke-width: 20;
    animation: draw-fill 1s ease-in forwards;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1000;
}
@keyframes draw {    
    90% {
        stroke-dashoffset: 400;
    }
    60% {
        fill-opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        stroke-width: 0.2;
        fill-opacity: 1;
    }
    100% {
        stroke-width: 0;
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes draw-fill {    
    90% {
        stroke-dashoffset: 400;
    }
    100% {      
        stroke-dashoffset: 0;

    }
}

.update_first-col:nth-child(1){
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_first-col:nth-child(1) .update_first-image g path {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.update_first-col:nth-child(2){
     -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}
.update_first-col:nth-child(2) .update_first-image .stroke{
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.update_first-col:nth-child(3){
     -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.update_first-col:nth-child(3) .update_first-image g path{
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.update_first-arrow {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.update_first.is-ready .update_first-title, .update_first.is-ready .update_first-date, .update_first.is-ready .update_first-col {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_first.is-ready .update_first-prefix, .update_first.is-ready .update_first-image, .update_first.update_first.is-ready .update_first-arrow {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*animations safety */
.update_safety-title {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_safety-prefix {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.update_safety-prefix g path {
    fill: #2c75ff;
    fill-opacity: 0;
    stroke: #2c75ff;
    stroke-width:10px;
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: draw 1s ease-in forwards;

}
.update_safety-prefix g path {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.update_safety-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.update_safety.is-ready .update_safety-title {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_safety.is-ready .update_safety-prefix {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}




/*first safety items*/

.safety_item-title, .safety_item-prefix, .safety_item-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_safety-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

/*.update_safety-item:nth-child(1) .update_safety-image g path {
    fill-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-fill-safety 1s ease-in forwards;

}*/

.update_safety-item:nth-child(1) .update_safety-image path {
    fill-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-safety 1s ease-in forwards;

}

.update_safety-item:nth-child(2) .update_safety-image .line {
    fill: #727272;
    fill-opacity: 0;
    stroke-width: 5;
    stroke:#727272; 
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-fill-safety 1s ease-in forwards;

}

.update_safety-item:nth-child(2) .update_safety-image path, .update_safety-item:nth-child(2) .update_safety-image g g path {

    fill-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-safety-2 1s ease-in forwards;

}

.update_safety-item:nth-child(3) .update_safety-image .to-fill {
    fill: #727272;
    fill-opacity: 0;
    stroke-width: 5;
    stroke:#727272; 
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-fill-safety 1s ease-in forwards;

}

.update_safety-item:nth-child(4) .update_safety-image .to-fill {
    fill-opacity: 0;
    stroke-width: 5;
    stroke:white; 
    stroke-dasharray: 1400;
    stroke-dashoffset: 2000;
    animation: draw-safety-3 2s ease-in forwards;

}

/*.update_safety-item:nth-child(3) .update_safety-image path, .update_safety-item:nth-child(2) .update_safety-image g g path {

    fill-opacity: 0;
    stroke-width: 2;
    stroke-dasharray: 700;
    stroke-dashoffset: 1000;
    animation: draw-safety-2 1s ease-in forwards;

}*/



@keyframes draw-fill-safety {    
    90% {
        stroke-dashoffset: 400;
    }

    95% {
        stroke-dashoffset: 0;
        stroke-width: 0;
       
    }
    100% {
        fill-opacity: 1;
        fill: #727272;
        stroke-width: 0;
        stroke-dashoffset: 0;
        
    }
}

@keyframes draw-safety {    
    90% {
        stroke-dashoffset: 400;
    }
    60% {
        fill-opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        stroke-width: 6;
        fill-opacity: 1;
    }
    100% {
        stroke-width: 6;
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}
@keyframes draw-safety-2 {    
    90% {
        stroke-dashoffset: 400;
    }
    60% {
        fill-opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        stroke-width: 6;
        fill-opacity: 1;
    }
    100% {
        stroke-width: 6;
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes draw-safety-3 {
    40% {
        stroke:#727272; 
    }    
    90% {
        stroke-dashoffset: 400;
    }
    60% {
        fill-opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        stroke-width: 0.2;
        fill-opacity: 1;
    }
    100% {
        stroke-width: 0;
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

.update_safety-prefix g path, .update_safety-prefix .to-fill {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.update_safety-prefix {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.update_safety-title {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.update_safety-text {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_safety-item:nth-child(1).is-ready .safety_item-title, .update_safety-item:nth-child(1).is-ready .safety_item-prefix, .update_safety-item:nth-child(1).is-ready .safety_item-text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_safety-item:nth-child(1).is-ready .update_safety-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

.update_safety-item:nth-child(2).is-ready .safety_item-title, .update_safety-item:nth-child(2).is-ready .safety_item-prefix, .update_safety-item:nth-child(2).is-ready .safety_item-text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_safety-item:nth-child(2).is-ready .update_safety-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

.update_safety-item:nth-child(3).is-ready .safety_item-title, .update_safety-item:nth-child(3).is-ready .safety_item-prefix, .update_safety-item:nth-child(3).is-ready .safety_item-text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_safety-item:nth-child(3).is-ready .update_safety-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

.update_safety-item:nth-child(4).is-ready .safety_item-title, .update_safety-item:nth-child(4).is-ready .safety_item-prefix, .update_safety-item:nth-child(4).is-ready .safety_item-text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_safety-item:nth-child(4).is-ready .update_safety-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*animations able*/

.update_able-title, .update_able-item {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_able-logo, .update_able-icon, .update_able-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.update_able .update_able-icon g path, .update_able .update_able-icon path {
    fill: white;
    fill-opacity: 0;

    stroke: white;
    stroke-width:10px;
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: draw 1s ease-in forwards;
}
.update_able .update_able-icon .stroke {
    fill:none;
    stroke-width: 20;
    animation: draw-fill 1s ease-in forwards;
    stroke-dasharray: 1500;
    stroke-dashoffset: 1000;
}
@keyframes draw {    
    90% {
        stroke-dashoffset: 400;
    }
    60% {
        fill-opacity: 1;
    }
    95% {
        stroke-dashoffset: 0;
        stroke-width: 0.2;
        fill-opacity: 1;
    }
    100% {
        stroke-width: 0;
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@keyframes draw-fill {    
    90% {
        stroke-dashoffset: 400;
    }
    100% {      
        stroke-dashoffset: 0;

    }
}

.update_able .update_able-icon g path, .update_able .update_able-icon path, .update_able .update_able-icon .stroke  {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.update_able-logo:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.update_able-logo:nth-child(3) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.update_able-title {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_able-icon g path {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}
.update_able-item:nth-child(1) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.update_able-item:nth-child(1) .update_able-image {
    -webkit-transition-delay: 0.55s;
    transition-delay: 0.55s;
}
.update_able-item:nth-child(2) {
    -webkit-transition-delay: 0.55s;
    transition-delay: 0.55s;
}
.update_able-item:nth-child(2) .update_able-image {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.update_able-item:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.update_able-item:nth-child(3) .update_able-image {
    -webkit-transition-delay: 0.65s;
    transition-delay: 0.65s;
}
.update_able.is-ready .update_able-title, .update_able-items.is-ready .update_able-item {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_able.is-ready .update_able-logo, .update_able.is-ready .update_able-icon, .update_able-items.is-ready .update_able-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*async*/

.update_async-title, .update_async-item, .update_async-header, .update_async-text {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_async-icon {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.update_async-icon g path, .update_async-icon path {
    fill: #f9934e;
    fill-opacity: 0;

    stroke: #f9934e;
    stroke-width:10px;
    stroke-dasharray: 500;
    stroke-dashoffset: 1000;
    animation: draw 1s ease-in forwards;
}

.update_async-icon g path, .update_async-icon path  {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.update_async-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.update_async-item:nth-child(odd){
     -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.update_async-item:nth-child(odd) .update_async-header{
     -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.update_async-item:nth-child(odd) .update_async-text{
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_async-item:nth-child(even){
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_async-item:nth-child(even) .update_async-header{
     -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}
.update_async-item:nth-child(even) .update_async-text{
     -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.update_async.is-ready .update_async-title, .update_async.is-ready .update_async-item, .update_async.is-ready .update_async-header, .update_async.is-ready .update_async-text {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_async.is-ready .update_async-icon {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*animation add*/
.update_add-title, .update_add-item {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_add-icon, .update_add-number, .update_add-image {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.update_add-icon g path, .update_add-icon path {
    fill: white;
    fill-opacity: 0;

    stroke: white;
    stroke-width:10px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-fill 1s ease-in forwards;
}
.update_add-icon path {
    animation: draw 1s ease-in forwards;
}

.update_add-icon g path, .update_add-icon path  {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.update_add-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.update_add-item:nth-child(odd){
     -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.update_add-item:nth-child(odd) .update_add-image{
     -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.update_add-item:nth-child(even){
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_add-item:nth-child(even) .update_add-image{
     -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}

.update_add.is-ready .update_add-title, .update_add.is-ready .update_add-item {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_add.is-ready .update_add-icon, .update_add.is-ready .update_add-number, .update_add.is-ready .update_add-image {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*animation reviews*/

.update_reviews-title, .update_reviews-item, .update_reviews-name, .update_reviews-company {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_reviews-prefix, .update_reviews-photo, .fotorama__dot {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}
.update_reviews-prefix g path, .update_reviews-prefix path {
    fill: #f9934e;
    fill-opacity: 0;

    stroke: #f9934e;
    stroke-width:10px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: draw-fill 0.5s ease-in forwards;
}
.update_reviews-prefix path {
    animation: draw 1s ease-in forwards;
}

.update_reviews-prefix g path, .update_reviews-prefix path  {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}
.update_reviews-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.update_reviews-item {
     -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.update_reviews-photo {
     -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}
.update_reviews-name {
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.update_reviews-company {
     -webkit-transition-delay: 0.45s;
    transition-delay: 0.45s;
}
.fotorama__dot {
     -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


.update_reviews.is-ready .update_reviews-title, .update_reviews.is-ready .update_reviews-item, .update_reviews.is-ready .update_reviews-name, .update_reviews.is-ready .update_reviews-company {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_reviewsupdate_add.is-ready .update_reviews-prefix, .update_reviews.is-ready .update_reviews-photo, .update_reviews.is-ready .fotorama__dot {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}

/*animations choose*/

.update_choose-title, .update_choose-content, .update_choose-buttons {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.update_choose-prefix {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.update_choose-prefix  path, .update_choose-prefix .to-fil {
    fill: #324FA0;
    fill-opacity: 0;   
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw-fill 1s ease-in forwards;
}
.update_choose-prefix .to-fill {
    stroke: #324FA0;
    animation: draw 1s ease-in forwards;
}

.update_choose-prefix  path, .update_choose-prefix path  {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.update_choose-title {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.update_choose-content {
     -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.update_choose-buttons {
     -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}



.update_choose.is-ready .update_choose-title, .update_choose.is-ready .update_choose-content, .update_choose.is-ready .update_choose-buttons {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-transition: none;
    transition: none;
}
 .update_choose.is-ready .update_choose-prefix {
    -webkit-transform: scale(0);
    transform: scale(0);
   -webkit-transition: none;
    transition: none;
}